@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Barlow:wght@200;400;500;600&family=Fira+Sans:wght@200;300;400;500&family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D9E3F1;
    font-family: "Bam Jamjuree", sans-serif;
    line-height: 1.7;
    font-weight: 800;
}

a{
    text-decoration: none;
    transition: all 0.4s ease;
}

a:hover{
    text-decoration: none;
}

.section-padding{
    padding-top: 120px;
    padding-bottom: 120px;
}


/* NAVBAR */
.navbar .navbar-brand{
    font-size: 20px;
}

.navbar .navbar-nav .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    font-size: 600;

}
.navbar .navbar-nav .nav-link.active{
    color: var(--bs-info);
}

.nav-link::after{
    content: ' ';
    width: 0;
    height: 3px;
    background-color: var(--bs-info);
    margin: auto;
    display: block;
    transition: all 0.4s ease-in-out;
}

.nav-link.active::after, 
.nav-link:hover::after{
    width: 100%;
}

@media (min-width:992px) {
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 16px;
        padding-left: 16px;
    }
}