*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}
h1,h2,h3,h4,h5,h6{
    font-family: 700;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.c-item{
    height: 480px;
}
.c-img{
    object-fit: cover;
    filter: brightness(0.6);
}

.nav-item .active{
    color: red !important;
}

/* .nav-link{
    position: relative;
}

.nav-link::after{
    content: ' ';
    position: absolute;
    background-color: red;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav-link:hover::after{
    width: 100%;
} */

.nav-link::after{
    content: " ";
    width: 0;
    height: 3px;
    background-color: rgb(220,76,100);
    margin: auto;
    display: block;
}

.nav-link:hover::after{
    width: 100%;
    transition: width 0.3s linear;
}

.nav-link:hover{
    color: rgb(220,76,100);
}
